@import 'colors';
@import 'mixins';

.button {
    background: transparent;
    border: 1px solid $lightBlack;
    color: $lightBlack;
    @include fluidSize(12px, 16px);
    font-family: 'Montserrat', sans-serif;
    // font-weight: bold;
    color: $lightBlack;
    text-transform: uppercase;
    padding: .9em 1em;
    transition: .2s;
    &:hover {
        cursor: pointer;
        color: $white;
        background: $lightBlack;  
    }
    &.white {
        color: $white;
        border-color: $white;
        &:hover {
            color: $white;
            border-color: $white;
            background: transparent;
        }
    }

}