@import 'normalize.scss';
@import 'mixins';
@import 'colors';

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: $backgroundWhite;
    background-color: lightgrey;
    overflow-x: hidden;
}

*, *::after, *::before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


//slick carousel from home-hero - must be global

.slick-slide {
    max-height: 100vh;
    // min-height: 80vh;
}

.graphcms-image-wrapper, .slick-slide {
    @media (max-width: 750px) {
        height: 95vh;
    }
}

.slick-dots {
    bottom: 20px!important;
    
    li {
        margin: 0 20px!important;
        button {
            &:before {
                font-size: 15px!important;
                color: white!important;
            }

        }
        &.slick-active {
            button {
                &:before {
                    color: white!important;
                }
            }
        }
    }
}