@import 'colors';
@import 'mixins';

.heading {
    width: 100%;
    text-align: center;
    &__title {
        @include sectionTitle;
        @include fluidSize(20px, 40px);
        margin-top: .5em;
    }
    &__subtitle {
        color: $textColor;
        @include fluidSize(16px, 20px);
        font-family: 'Unna', serif;
        font-style: italic;
        margin-bottom: 0;
    }
    
}